<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Rethink+Sans&display=swap"
    rel="stylesheet">

<body>
    <main>
        <div id="container">

            <div class="linha">
                <hr>
            </div>

            <div>
                <p>Drim</p>
            </div>

            <div class="linha">
                <hr>
            </div>
        </div>
        
    </main>
</body>