<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap"
  rel="stylesheet"
/>

<body>
  <main>
    <aside>
      <img
        src="../../../assets/projeto-do-fundo-do-dente-de-leao/OC1Y7T0.jpg"
        alt="logoLeve"
        width="400vw"
        height="400vh"
      />
    </aside>

    <div id="title">
      <h3 id="drimTitle">Drim</h3>
      <p id="drimDialog">Controle seus sonhos</p>
    </div>
  </main>

  <footer>

    <button>Entrar</button>

  </footer>
</body>
