body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    align-items: flex-end;
}

#title{
    position: absolute;
    left: 49%;
    top: 52%;
    font-size: 4vw;
}